<footer>
  <section class="logo-footer">
    <img src="/img/logo-gray.png" alt="">
  </section>
  <ul class="navbar-items">
    <li>
      <a href="tel:+5491121942792" class="call-button">
        <i class="fa fa-phone"></i>11 2194-2792
      </a>
    </li>
    <li>
      Roma 220, Hurlingham, Buenos Aires
    </li>
  </ul>
</footer>
