<nav class="navbar desktop">

  <ul class="nav-links">
    <li class="logo">
      <a href="/" class="home-logo">
        <img src="/img/logo.png" alt="Logo de la empresa" class="logo-img">
      </a>
    </li>

    <li class="dropdown">
      <a class="dropdown-button">Productos <i class="fa-solid fa-caret-down"></i></a>
      <ul class="submenu">
        <% categories.forEach(c=> { %>
          <li><a href="/categoria/<%= c.id %>">
              <%= c.title %>
            </a></li>
          <% }) %>
      </ul>
    </li>

  </ul>

  <ul class="contact-buttons">
    <li>
      <a class="email-button">
        <i class="fa-solid fa-envelope"></i> ventas@metalurgicatesei.com.ar
      </a>
    </li>
    <li>
      <a href="tel:+5491121942792" class="call-button">
        <i class="fa-solid fa-phone"></i> 11 2194-2792
      </a>
    </li>
    <li>
      <a href="https://wa.me/5491123103773?text=Hola,%20quiero%20hacer%20una%20consulta" target="_blank"
        rel="noopener noreferrer" class="whatsapp-button">
        <i class="fa-brands fa-whatsapp"></i> Escribinos
      </a>
    </li>
  </ul>
</nav>


<nav class="navbar mobile">


  <ul class="nav-links burger-menu">


    <li class="dropdown">
      <a class="dropdown-button"><i class="fa fa-bars"></i></a>
      <ul class="submenu">
        <% categories.forEach(c=> { %>
          <li><a href="/categoria/<%= c.id %>">
              <%= c.title %>
            </a></li>
          <% }) %>
            <li>
              <a href="tel:+5491121942792" class="call-button">
                11 2194-2792
              </a>
            </li>
            <li>
              <a href="mailto:ventas@metalurgicatesei.com.ar?Subject=Consulta%20desde%20la%20web." class="email-button" target="_blank">
                ventas@metalurgicatesei.com.ar
              </a>
            </li>
      </ul>
    </li>

    <li class="logo">
      <a href="/" class="home-logo">
        <img src="/img/logo.png" alt="Logo de la empresa" class="logo-img">
      </a>
    </li>

    <li>
      <a href="https://wa.me/5491123103773?text=Hola,%20quiero%20hacer%20una%20consulta" target="_blank"
        rel="noopener noreferrer" class="whatsapp-button">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </li>

  </ul>


</nav>