
<section class="producto-page">
  <div class="prod-img">
    <img src= "/img/producto/<%= producto.imagen %>" alt="<%= producto.nombre %>">
  </div>
  <div class="prod-info-container">
    <div class="prod-info">
        <h1 class="prod-title"> <%= producto.nombre %> </h1>
        <div class="prod-table">
            <table></table>
        </div>
        <div class="prod-button">
            <a href=""><i class="fa fa-whatsapp"></i>Consultar por este producto</a>
        </div>
    </div>
  </div>
  
</section>

<section class="related-prods">
    <!-- Aca va el listado de relacionados -->
</section>

<section class="calidad">
  <article class="section-container">
    <div class="section-information">
      <h2>Política de calidad</h2>
      <p>Metalúrgica Tesei brinda toda su experiencia en la elaboración de piezas especiales. Tiene como meta satisfacer las expectativas de sus clientes, basándose en productos de calidad. La permanente actualización en tecnología y el mejoramiento continuo de los procesos así lo aseguran. Por ello Metalúrgica Tesei define la presente Política de Calidad, como marco para el establecimiento de objetivos. • Cumplir con los requerimientos del mercado, ofreciendo piezas de calidad. • Cumplir con los plazos de entrega establecidos. • Asegurar el mejoramiento continuo del Sistema de Calidad, de los productos y los procesos. • Promover la participación de todo el personal, generando un ámbito de trabajo que fortalezca el crecimiento profesional y humano.
      </p>
    </div>
    <img src="/img/calidad.jpg" alt="">
  </article>
</section>